h1{
    font-size: 60px;
    background-color: rgb(120,30,60);
    color:#FAFAFA;
    text-align: center;
    font-family: "Opens Sans",sans-serif;
}

h2{
    font-size: 40px;
    font-family: "Opens Sans",sans-serif;
}