body{
    background-color: #F2FFFC;
    font-family: "Crimson Text", Serif;
    font-size: 20px;
}

main h1{
    font-size: 60px;
    background-color: #851944;
    color:#F2FFFC;
    text-align: center;
    font-family: "Opens Sans Condensed",sans-serif;
}

h2{
    font-size: 40px;
    font-family: "Opens Sans Condensed",sans-serif;
}

p{
    text-align: justify;
}