body{
    background-color: #F2FFFC;
    font-family: "Crimson Text", Serif;
    font-size: 20px;
    line-height: 1.5;

}

main h1{
    font-size: 60px;
    background-color: #851944;
    color:#F2FFFC;
    text-align: center;
    font-family: "Opens Sans Condensed",sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #000;
}

h1{
    text-transform: uppercase;
}


h2{
    font-size:30px;
    font-family: "Opens Sans Condensed",sans-serif;
    clear: both;
}

p{
    text-align: justify;
    margin: 20px 0;
}

blockquote, aside, footer {
    padding: 20px;
}

blockquote{
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing:border-box;
}

aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    font-size: 30px;
    font-family: "Opens Sans Condensed",sans-serif;
    padding: 20px;
    text-align: center;
    clear: right;
    width: 15%;
    position: relative;
    top: 310px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.icones-sociais li{
    display: inline-block;
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

main div{
    width: 720px;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}

.icones-sociais .github{
    background-image: url("github.png");
}

.icones-sociais .twitter{
    background-image: url("twitter.png");
}

.icones-sociais .linkedin{
    background-image: url("linkedin.png");
}

.fiat{
    float: right;
}
.petrobras{
    float: left;
}

aside, img{
    float: right;
}

cite {
    font-style: italic;
    float: right;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

.minha-foto, .navegacao-site {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    clear: right
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.minha-foto{
    position: absolute;
    top: 0px;
    right: 0px;

}